.page {
  background-color: #000;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.list-section {
  list-style: none;
}


.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.input {
  width: 200px;
  padding: 0;
  margin: 0;
  border: 0;
}

.button-add {
  width: 200px;
  padding: 0;
  margin: 5px 0 0 0;
  border: 0;
}